<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
  <center>
  <br>
  
  <br>
  <font size="6"
          face="arial"
          color="black">
  Float - Moodle
  </font>
  <br>
  <br>
  <!--<input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='https://github-app-vv.herokuapp.com/explore/';" value="Explore" />  -->
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/profile/{{user.id}}/';" value="My Profile" />   
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/accounts/logout/';" value="Logout" />    
  <br>
  <br>
{% else %}
  <body>

  <center>

  <br>
  <br>
  <font size="6"
          face="arial"
          color="black">
   Float - Moodle
  </font>
  <br>
  <br>
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/signup/';" value="Signup" />  
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/accounts/login/';" value="Login" /> 
  <br>
  <br>
  
  </body> 
{% endif %}
{% endblock %}