<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}


  <center>
  <br>
  <br>
  <font size="6"
          face="arial"
          color="black">
  Float - Moodle
  <br>
  <br>
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/';" value="Home" />  
    
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/accounts/logout/';" value="Logout" /> 
  
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:160px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/password/';" value="Change Password" />
  <br>
  <br>
  </center>
  
  <style>
        .tab {
            display: inline-block;
            margin-left: 300px;
        }
    </style>
 <span class="tab">

{{first_name}} {{last_name}} (@{{username}})
</font>
</span>
<br>

    {% for result in allusers%}
      <ul><li><!--<button style="background-color:white; border-collapse:collapse;border-color: #0066FF; border-radius:5px 5px; width:120px; height:40px; color:#0066FF; "onclick="location.href='http://127.0.0.1:8000/profile/{{forloop.counter}}/';" >-->
      {{result.username}}
      <!--</button>-->
      </li>
      </ul>
      
    {% endfor %}



{% endblock %}