<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <center>
  
  <br>
  <br>
  <font size="6"
          face="arial"
          color="black">
  Float - Moodle
 </font> 
  <br>
  <br>
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/';" value="Home" />  
  <!--<input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/accounts/login/';" value="Login" /> -->
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:160px; height:40px; color:white; " onclick=location.href="{% url 'authentication:instructor-change-password' %}"; value="Change Password" /> 
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick=location.href="{% url 'authentication:logout' %}"; value="Log Out" /> 
  <br> 
  <br>
  </center>
  <font size="6"
          face="arial"
          color="black">
  Edit profile
  </font>
  <font size="3"
          face="arial"
          color="black">
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:120px; height:40px; color:white; " >Save Changes</button>
</form>
</font>
{% endblock %}